@import "../abstract/variaveis";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50px;
  background-color: $color-white;
  display: flex;
  background-color: $color-grayishblue;
  p {
    font-size: 1rem;
  }
}
